
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Dashboard <i class="ti-angle-down font-14 text-danger"></i></h3>
                            <div class="iconss"><i class="material-icons">dashboard</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Ledger <i class="ti-angle-up font-14 text-success"></i></h3>
                            <div class="iconss"><i class="material-icons">wallet</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Accounts <i class="ti-angle-up font-14 text-success"></i></h3>
                            <div class="iconss"><i class="material-icons">manage_accounts</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Entries <i class="ti-angle-down font-14 text-danger"></i></h3>
                            <div class="iconss"><i class="material-icons">room_preferences</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Reports <i class="ti-angle-down font-14 text-danger"></i></h3>
                            <div class="iconss"><i class="material-icons">report</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Cashbook <i class="ti-angle-down font-14 text-danger"></i></h3>
                            <div class="iconss"><i class="material-icons">auto_stories</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Pay Slip <i class="ti-angle-down font-14 text-danger"></i></h3>
                            <div class="iconss"><i class="material-icons">receipt_long</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
        <!-- Column -->
        <div class="col-lg-3 col-md-6">
            <a class="card cardss" href="">
                <div class="card-body">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="hh">Users <i class="ti-angle-down font-14 text-danger"></i></h3>
                            <div class="iconss"><i class="material-icons">person</i></div>
                        </div>

                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
