<div class="container-fluid">
    <!-- search-bar -->
    <div class="bg-colors searchs h-100 p-4 my-3">
        <form>
            <input type="text" autocomplete="off" placeholder="Enter Booking ID , Phone Number or Email" [(ngModel)]="searches" name="searches" (keyup.enter)="search()">
            <a (click)="search()">
                <p class="material-icons anchor">search</p>
            </a>
        </form>
    </div>
     <!-- end search-bar -->
     <div class="theme_heading text-center">
        <h2>Paintball</h2>
    </div>
     <!-- date-picker -->
     <section [hidden]="isDateSelected" *ngIf="new_div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="datee">
                        <h3 class="h4">Please Select Date</h3>
                        <p> {{minDate.day}} - {{ms[minDate.month]}} - {{minDate.year}}</p>
                    </div>
                </div>
                <form #myForm="ngForm" class="p-0">
                <input type="number" name="inputValues" id="" class="member" placeholder="Number of Players" required [(ngModel)]="inputNumber">
                <p class="errorrs" *ngIf="member_error">Please Select Specific Member !</p>
                <p class="errorrs" *ngIf="member_error2">Please Select Members !</p>
                </form>
                <ngb-datepicker [minDate]="minDate" class="booking ng-valid ng-touched ng-dirty" [(ngModel)]="selectedDate" (dateSelect)="onDateSelect($event, myForm)"></ngb-datepicker>
              
            </div>
        </div>
    </section>
    <!-- end date-picker -->
    <!-- timeslot -->
    <section *ngIf="isDateSelected && new_div2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="select-time">
                        <span>Select Time Slot</span>
                        <div class="loader-div"  *ngIf="preloaderr">
                        <div class="loader"></div>
                    </div>
                        <div class="time-box-wrp" *ngIf="!preloaderr">
                            <!-- deactive -->
                            
                            <div class="time-btn"  [ngClass]="{'deactive':btn.book_status == 'Deactive' , 'active':btn.book_status == 'Active' }"  *ngFor="let btn of time_btn" >
                            <div class="" (click)="open(content,btn)"  >
                                <input type="radio" name="time">
                                <span>{{btn.name}}</span>

                            </div>
                          
                            <p> Available : {{btn.avaliable}} </p>
                            <span class="error" *ngIf="btn.book_status == 'Deactive'">You cant Book These Slots </span>
                        </div>
                            
                        </div>
                        <button id="prev_btn" class="theme_btnn mt-3" (click)="onPreviousClick()"><i class="fa-regular fa-arrow-left-long"></i> Previous </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <!--end timeslot -->
    <!-- search-data -->
    <div class="row main-div" *ngIf="div">
        <div class="col-md-8">
            <div class="boxx text-light">
                <h3 class="mb-3">Players Details</h3>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="search_item">

                        <tr *ngFor="let player of responseData[0].player;index as i" [ngClass]="{'disable':player['status'] == '2' }">
                            <th scope="row">{{i+1}}</th>
                            <td *ngIf="!isEditing" (dblclick)="isEditing = true"><span class="span">{{player['name']}}</span></td>
                            <td *ngIf="isEditing"><input [(ngModel)]="player['name']" class="inputs"></td>
                            <td *ngIf="!isEditing" (dblclick)="isEditing = true"><span class="span">{{player['number']}}</span></td>
                            <td *ngIf="isEditing"><input [(ngModel)]="player['number']" class="inputs"></td>
                            <td>{{player['ticket_price']}}</td>

                            <td>
                                <div class=" dltt">
                                    <span *ngIf="isloading" class="loaderrr"></span>
                                    <a class="material-icons dl" *ngIf="player['status'] == 1 && !isloading" (click)="update_players(player['id'],player['status'])" data-toggle="tooltip" data-placement="top" title="Delete">delete</a>
                                <a class="material-icons dl res" *ngIf="player['status'] == 2 && !isloading" (click)="update_players(player['id'],player['status'])" data-toggle="tooltip" data-placement="top" title="Restore">refresh</a>
                                    <!-- <a class="material-icons" data-toggle="tooltip" data-placement="top" title="Edit">manage_accounts</a> -->
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box2 text-light">
                <div class="das">
                    <h3>Booking Details</h3>
                    <p class="material-icons text-danger closess" (click)="boxes()"> close</p>
                </div>
                <table class="table tabless text-light">
                    <thead>
                        <tr>
                            <th scope="row">Booking ID: </th>
                            <td> #{{user_detail.id}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Name: </th>
                            <td> {{user_detail.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Number: </th>
                            <td> {{user_detail.phone_no}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email: </th>
                            <td> {{user_detail.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Booking Date: </th>
                            <td> {{(user_detail.date) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Slot: </th>
                            <td> {{user_detail['slot'][0]['name']}}</td>
                        </tr>
                        <tr>
                            <th scope="row">No Of Players: </th>
                            <td> {{count}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Exclusive: </th>
                            <td>{{user_detail.exclusivity}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Status: </th>
                            <td> <span [ngClass]="{'booked':user_detail.status == 'Booked' , 'expired':user_detail.status == 'Expired', 'hold':user_detail.status == 'Hold', 'cancel':user_detail.status == 'Cancel'}">{{user_detail.status}}</span></td>
                        </tr>

                        <tr *ngIf="user_detail.status != 'Booked'">
                            <th scope="row">Expire On: </th>
                            <td> {{user_detail.exp_date}}</td>
                        </tr>
                        <tr *ngIf="user_detail.status != 'Booked'">
                            <th scope="row">Time Left: </th>
                            <td> {{user_detail.status == "Expired" ? '00:00' : user_detail.time_left}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Booked Date: </th>
                            <td> {{ (user_detail.created_at)}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Total: </th>
                            <td>{{ex_val}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <form [formGroup]="paintball_update" (submit)="onsubmit()">
                <div class="btnn">
                    <div class="row">

                        <div class="col-md-6">
                            <select class="form-select mb-3" aria-label="Default select example" formControlName="payment_status" [ngClass]="{'disabled':user_detail.status == 'Booked'}">
                      <option selected hidden>Paymet</option>
                      <option value="Paid">Paid</option>
                      <option value="Unpaid">Unpaid</option>
                  </select>
                            <span class="error" *ngIf="submited && paintball_update.controls.status.errors?.required">Required</span>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select mb-3" aria-label="Default select example" formControlName="status" name="status" [ngClass]="{'disabled':user_detail.status == 'Booked'}">
                      <option selected hidden>Status</option>
                      <option value="Booked">Booked</option>
                      <option value="Cancel">Cancel</option>
                  </select>
                            <span class="error" *ngIf="submited && paintball_update.controls.status.errors?.required">Required</span>
                        </div>

                    </div>

                    <button class="pdf theme_btnn float-end" [ngClass]="{'disabled':user_detail.status == 'Booked'}">Confirm Booking</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end search-data -->
</div>
<!-- modal  -->
<ng-template #content let-modal>
	  

    <div  class="modal-body">
        <div  class="modal-content">
           <div  class="text-center">
              <span  class="close-btn"><i (click)="modal.close('Save click')"  class="material-icons">close</i></span>
              <h2 >Select Slots</h2>
              <h3  class="d-flex justify-content-between ptext">
                 <span  id="slot-date">
                    Date:  {{datee}} 
                    <p >Number Of Players : {{inputNumber}}</p>
                 </span>
                 <span  id="slot-time">
                    Time: {{ slot_name ?? '-'}}  
                    <p >Selected Players : {{addedPlayers}} </p>
                 </span>
              </h3>
           </div>
           <h4  class="text-center">Team 1</h4>
           <ul class="slots">
            <li *ngFor="let seat of seats | slice : 0 : 8; index as i">
                <input
                id="{{ seat.name }}"
                class="checkboxx"
                type="checkbox"
                (click)="toggle = !toggle"
                [id]="seat.id+'a'"
                value="{{seat.id}}"
                [(ngModel)]="seat.checked"
                [(ngModel)]="checkboxValue[i]"
               
              />
    
              <span class="slot_box" *ngIf="loadingSlots"><span class="slots_loading"></span></span>
              <span class="slots" (click)="selected = seat; name = arryData[i] ; number = arrynumbers[i]; numberMatched = false" *ngIf="!loadingSlots">{{ seat.value }}</span>
              <span class="edit_icon"
                ><i class="material-icons">edit</i
              ></span>
              <div class="input_field" *ngIf="selected === seat && booked == false">
                <input
                type="tel"
                  placeholder="Enter Player Number"
                  [(ngModel)]="number"
                  #valueRef="ngModel"
                  (input)="checkNumber()"
                  pattern="03[0-9]{9}" required #numberInput [ngClass]="{'invalid': !submited || valueRef.errors?.['pattern'] || numberMatched}"
              />
              <span *ngIf="numberMatched" class="cutom_tooltip top">Number Already Exist</span>
              <input
                type="text"
                #nameInput
                [(ngModel)]="name"
                placeholder="Enter Player Name"
                #nameval="ngModel"
                pattern="[a-zA-Z ]*" required  [ngClass]="{'invalid':  !submited || nameval.errors?.['pattern'] }"
              />
              <div
              class="d-flex justify-content-center align-items-center"
              style="gap: 10px"
            >
              <button class="book" [disabled]="nameval.errors?.['pattern'] || valueRef.errors?.['pattern'] || numberMatched" (click)="bookSlot(seat, [seat.id])">
                <i class="material-icons">done</i>
              </button>
              <button
                class="book discard"
                (click)="uncheckCheckbox(seat, [seat.id])"
              >
                <i class="material-icons">close</i>
              </button>
            </div>
              </div>
            </li>
          </ul>
           <div  class="text-center">
              <h2 >VS</h2>
              <h4 >Team 2</h4>
           </div>
           <ul class="slots">
            <li *ngFor="let seat of seats  | slice : 8;">
              <input
              class="checkbox"
                id="{{ seat.name }}"
                type="checkbox"
                class="checkboxx"
                [id]="seat.id+'a'"
                value="{{seat.id}}"
                (click)="toggle = !toggle"
                [(ngModel)]="seat.checked"
                [(ngModel)]="checkboxValue[seat.id]"
              />
              <span class="slot_box" *ngIf="loadingSlots"><span class="slots_loading"></span></span>
              <span class="slots" (click)="selected = seat ; name = arryData[seat.id] ; number = arrynumbers[seat.id]" *ngIf="!loadingSlots">{{ seat.value }}</span>
              <span class="edit_icon"
              ><i class="material-icons">edit</i
            ></span>
              <div class="input_field" *ngIf="selected === seat && booked == false">
                <input
                type="tel"
                  placeholder="Enter Player Number"
                  [(ngModel)]="number"
                  #valueRef="ngModel"
                  (input)="checkNumber()"
                  pattern="03[0-9]{9}" required #numberInput [ngClass]="{'invalid': !submited || valueRef.errors?.['pattern'] || numberMatched}"
              />
              <span *ngIf="numberMatched" class="cutom_tooltip top">Number Already Exist</span>
              <input
                type="text"
                #nameInput
                [(ngModel)]="name"
                placeholder="Enter Player Name"
                #nameval="ngModel"
                pattern="[a-zA-Z ]*" required  [ngClass]="{'invalid':  !submited || nameval.errors?.['pattern'] }"
              />
                <div
                  class="d-flex justify-content-center align-items-center"
                  style="gap: 10px"
                >
                  <button class="book" [disabled]="nameval.errors?.['pattern'] || valueRef.errors?.['pattern'] || numberMatched" (click)="bookSlot(seat, [seat.id])">
                    <i class="material-icons">done</i>
                  </button>
                  <button
                    class="book discard"
                    (click)="uncheckCheckbox(seat, [seat.id])"
                  >
                    <i class="material-icons">close</i>
                  </button>
                </div>
              </div>
            </li>
          </ul>
           <div  class="text-center">
            <p class="errr" *ngIf="errr">The number of slots selected should be same as number of players</p>
           </div>
           <ul  class="d-flex justify-content-center" style="gap: 10px;">
              <li> <button
                (click)="goToNextPage('proceed-booking', content)"
                aria-label="Close"
                class="theme_btnn"
              >
                Proceed
              </button></li>
           </ul>
        </div>
     </div>
</ng-template>
<!-- modal end -->


<!-- print -->
<div class="print-area d-none" #printArea *ngIf="div">
    <div id="invoice-POS">
    
        <span id="top">
          <div class="logo"></div>
          <div class="info"> 
            
          </div><!--End Info-->
        </span><!--End InvoiceTop-->
        
        <div id="mid">
          <div class="info">
            <h2>Booking Details </h2>
            <table style="width: 100%;"> 
                <tr>
                    <td class="tableitem">  Booking ID   </td>
                    <td class="tableitem"> :</td>
                    <td class="tableitem align-last"> #{{user_detail.id}}</td>
                    
                    
                </tr>
                <tr>
                        <td class="tableitem"> Email   : </td>
                         <td class="tableitem"> :</td>
                        <td class="tableitem align-last"> {{user_detail.email}}</td>
                </tr>
                <tr>
                        <td class="tableitem">  Phone   </td>
                        <td class="tableitem"> :</td>
                        <td class="tableitem align-last"> {{user_detail.phone_no}}</td>
                </tr>
                <tr>
                        <td class="tableitem">  Booking Date   </td>
                        <td class="tableitem"> :</td>
                        <td class="tableitem align-last"> {{user_detail.date}}</td>
                </tr>
                <tr>
                        <td class="tableitem">  Slot  </td>
                        <td class="tableitem"> :</td>
                        <td class="tableitem align-last"> {{user_detail.slot[0]['name']}}</td>
                </tr>
                <tr>
                        <td class="tableitem">  User  </td>
                        <td class="tableitem"> :</td>
                        <td class="tableitem align-last"> Aamir Ali</td>
                </tr> 
                </table>
          </div>
        </div> 
        <div id="bot" class="my-5">
                        <div id="table">
                            <table id="table1">
                                <tr class="tabletitle text-center">
                                    <td><h1>#</h1></td>
                                    <td><h1>Name</h1></td>
                                    <td><h1>Phone</h1></td>
                                    <td><h1>Amount</h1></td>
                                </tr>
                                <tr *ngFor="let player of responseData[0].player;index as i">
                                    <div *ngIf="player['status'] == 1">
                                    <td><span>{{i+1}}</span></td>
                                    <td><span>{{player['name']}}</span></td>
                                    <td><span>{{player['number']}}</span></td>
                                    <td><span>{{player['ticket_price']}}</span></td>
                                    </div>     
                                </tr>
                            </table>
                        </div>
                        <div id="legalcopy">
                            <p class="legal"><b>Your Booking is Confirmed !</b></p>
                            <p>Thank You</p>
                            <p>Powered by:Technologenesis LTD</p>
                        </div>
                     </div>
      </div>
</div>
<!--end print -->
<!-- booking -->
  <div class="container-fluid">
    <div class="row main-div"  *ngIf="divs">
        <div class="col-md-8">
            <div class="boxx text-light">
                <h3 class="mb-3">Players Details</h3>
                <table class="table text-light">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Number</th>
                            <th scope="col">Price</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="search_item">

                        <tr *ngFor="let player of player_response;index as i;" [ngClass]="{'disable': itemDeleted}">
                            <th scope="row">{{i+1}}</th>

                            <td ><span class="span">{{player['player']}}</span></td>
                            <td ><span class="span">{{player['number']}}</span></td>
                            <td>{{player['ticket_price']}}</td>

                            <td>
                                <div class=" dltt">
                                    <span *ngIf="isloading" class="loaderrr"></span>
                                    <a class="material-icons dl" data-toggle="tooltip" data-placement="top" title="Delete" *ngIf="!itemDeleted" (click)="deleteItem()">delete</a>
                                    <a class="material-icons dl res" data-toggle="tooltip" data-placement="top" title="Restore" *ngIf="itemDeleted" (click)="restoreItem()">refresh</a>
                                    <!-- <a class="material-icons" data-toggle="tooltip" data-placement="top" title="Edit">manage_accounts</a> -->
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4"> 
           <form (ngSubmit)="onSubmitt()" [formGroup]="booking_data">
            <div class="box2 text-light">
                <div class="das">
                    <h3>Booking Details</h3>
                    <p class="material-icons text-danger closess" (click)="boxes()"> close</p>
                </div>
                <table class="table tabless text-light">
                    <thead>
                       
                    </thead>
                    <tbody class="tbodyy">
                        <tr [ngClass]="{'errorr': booking_data.get('name').invalid && submitted}">
                            <th scope="row">Name: </th>
                            <td><input type="text" class="input_n" name="name" formControlName="name" required autocomplete="off"></td>

                        </tr>
                        <tr [ngClass]="{'errorr': booking_data.get('number').invalid && submitted}">
                            <th scope="row">Number: </th>
                            <td><input type="number" class="input_n" name="number" formControlName="number" required autocomplete="off"></td>
                        </tr>
                        <tr [ngClass]="{'errorr': booking_data.get('email').invalid && submitted}">
                            <th scope="row">Email: </th>
                            <td><input type="email" class="input_n" name="email" formControlName="email" required autocomplete="off"></td>
                        </tr>
                        
                        <tr>
                            <th scope="row">Slot: </th>
                            <td>{{ slot_name ?? '-'}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Exclusive: </th>
                            <td><input class="form-check-input" type="checkbox" name="exclusive" formControlName="exclusive" (change)="onCheckboxChange()">
                            </td>
                        </tr>
                        
                        <tr>
                            <th scope="row">No Of Players: </th>
                            <td> {{addedPlayers}}</td>
                        </tr>
                       
                        <tr>
                            <th scope="row">Booking Date: </th>
                            <td>{{selected_date}} </td>
                        </tr>

                        
                        <tr>
                            <th scope="row">Total: </th>
                            <td>{{ex_val2}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
                <div class="btnn">
                    <div class="row">

                        <div class="col-md-6">
                            <select class="form-select mb-3" aria-label="Default select example" formControlName="payment" name="payment">
                      <option selected hidden>Paymet</option>
                      <option value="Paid">Paid</option>
                      <option value="Unpaid">Unpaid</option>
                  </select>
                            <span class="error">Required</span>
                        </div>
                        <div class="col-md-6">
                            <select class="form-select mb-3" aria-label="Default select example" name="status" formControlName="status">
                      <option selected hidden>Status</option>
                      <option value="Booked">Booked</option>
                      <option value="Cancel">Cancel</option>
                  </select>
                            
                        </div>

                    </div>

                    <button class="pdf theme_btnn float-end">Confirm Booking</button>
                </div>
            </form>
            </div>
    </div>  
  </div>
  <!-- end booking -->
   
