
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="buton d-flex justify-content-end">
                    <a routerLink="../Add-User" class="btn btn-primary">Add Use</a>
                </div>
                    <div class="element-box mt-30">
                        <div class="row users">
                            <div class="col-md-3">
                    <div class="profile-card">
                      <div class="profile-card-header">
                        <h3 class="profile-name text-center">Umer Shaikh</h3>
                        <p class="profile-desc">UmerShaikh1@gmail.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="profile-card">
                      <div class="profile-card-header">
                        <h3 class="profile-name text-center">Aamir</h3>
                        <p class="profile-desc">aamir@gmail.com</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
</div>